.search-bar {
    position: absolute;
    top: 30px;
    left: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    font-size: 20pt;
}

.nav-bar {
    position: absolute;
    top: 30px;
    right: 30px;
}

.prof-text {
    position: relative;
    left: 250px;
    top: 100px
}

.button {
    background-color: #818285;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .editProfile {border-radius: 8px;}