* {
    font-family: sans-serif;
    top: 30px;
    font-size: 20pt;
}

.search-bar{
    position: absolute;
    
    left: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.search-bar, ul {
    top: 15px;
}

li {
    display: inline-block;
    padding: 8px;
    
    border-right: 3px solid gray;
    font-family: sans-serif;
}

li:last-child {
    border-right: none;
}

.nav-bar {
    position: absolute;
    right: 30px;
}

.prof-text {
    position: relative;
    left: 250px;
    top: 100px

}


.button {
    background-color: #818285;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
  
  .editProfile {
    border-radius: 8px;
}

  .Finance{
    background-color: #5d96a7; 
    border-radius: 8px;
    height:35px;
    width:150px;
}
  .Education{
    background-color: #8d67aa; 
    border-radius: 8px;
    height:35px;
    width:150px;
}
  .publicSafety{
    background-color: #d4857b; 
    border-radius: 8px;
    height:35px;
    width:150px;
    color:black;
}
  .Health{
    background-color: #c782aa; 
    border-radius: 8px;
    height:35px;
    width:150px;
}
  .Other{
    background-color: #95cd9b; 
    border-radius: 8px;
    height:35px;
    width:150px;
}

label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  
